

name: integration

on:
  push:
    branches: [ "master" ]
    

jobs:
  deploy:

    runs-on: ubuntu-latest

    
        

    steps:
    - uses: actions/checkout@v4
    - name: to create i iamge
      run: docker build . -t ashish1817/githibactons
    - run: echo "${{secrets.DOCKER_HUB_PASSWORD}} | docker login -u ashish1817 --password-stdin  
    - run:  docker push ashish1817/githibactons:latest
  